h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;

}
p  {
    color: red;
    font-family: courier;
    font-size: 160%;
}
.jumbotron{
  text-align: center;
  color: white;
  background-image: url("https://thumbs.gfycat.com/ClearCanineBasilisk-size_restricted.gif");
  background-repeat:repeat;
  /* background-size: cover; */
}

.well{
  text-align: center;
  color: black;
  background-color: gre;
}
body{
  /* background-image: url("https://st.depositphotos.com/1518767/1545/v/600/depositphotos_15453449-stock-video-several-rolling-red-dices-against.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  background-image:url("https://wallpapercave.com/wp/wp2222396.jpg");
}

.levels
{

text-align: center;
color: black;
